<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>House price predictator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark">
    <div class="container">
      <div
        class="row"
        style="background: linear-gradient(90deg, #dd5e89 20%, #f7bb97 100%)"
      >
        <div
          class="card"
          style="
            width: 94%;
            height: 100%;
            margin-top: 50px;
            background-color: #f8f9fa;
            margin: 2rem 2rem;
          "
        >
          <div
            class="card-header text-sm-left rounded"
            style="
              text-align: center;
              background: #dd5e89;
              margin: 2rem 0rem 2rem 0rem;
            "
          >
            <h1
              style="
                color: #000000;
                padding: 1.6rem 0 1rem 0;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
              "
            >
              ಬೆಂಗಳೂರು - Bangaluru
            </h1>
            <h3
              style="
                font-size: 1.6rem;
                color: #112a46;
                font-weight: 800;
                background: -webkit-linear-gradient(
                  90deg,
                  #d9c2ad 60%,
                  #d94b2b 100%
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
                border-radius: 3.4rem;
                padding-bottom: 0.4rem;
              "
            >
              Bangalore housing prices
            </h3>
            <p
              class="text-sm px-3 px-sm-8"
              style="margin-top: 1rem; color: #112a46"
            ></p>
          </div>
          <div class="card-body">
            <form action="" method="post" accept-charset="utf-8">
              <div class="row">
                <div class="col-md-6 form-group mb-4 text-center">
                  <label
                    for="location"
                    class="mb-2"
                    style="
                      font-family: Arial, Helvetica, sans-serif;
                      font-weight: 600;
                    "
                  >
                    <b>Location :</b>
                  </label>
                  <select
                    name="location"
                    id="location"
                    class="selectpicker form-control mb-2 text-center"
                    required="1"
                  >
                    {% for location in locations%}
                    <option value="{{location}}">{{location}}</option>
                    {%endfor%}
                  </select>
                </div>
                <div class="col-md-6 form-group mb-4 text-center">
                  <label
                    for="sqft"
                    class="mb-2"
                    style="
                      font-family: Arial, Helvetica, sans-serif;
                      font-weight: 600;
                    "
                  >
                    <b>SQFT : </b>
                  </label>
                  <input
                    name="sqft"
                    id="sqft"
                    class="selectpicker form-control mb-2 text-center"
                    required="1"
                    placeholder="sqft"
                    type="float"
                  />
                </div>

                <div class="col-md-6 form-group mb-4 text-center">
                  <label
                    class="mb-2"
                    style="
                      font-family: Arial, Helvetica, sans-serif;
                      font-weight: 600;
                    "
                    ><b>Bath :</b></label
                  >
                  <input
                    name="bathroom"
                    id="bathroom"
                    class="selectpicker form-control mb-2 text-center"
                    required="1"
                    placeholder="Bathroom"
                    type="number"
                  />
                </div>
                <div class="col-md-6 form-group mb-4 text-center">
                  <label
                    class="mb-2"
                    style="
                      font-family: Arial, Helvetica, sans-serif;
                      font-weight: 600;
                    "
                    ><b>BHK :</b></label
                  >
                  <input
                    name="bhk"
                    id="bhk"
                    class="selectpicker form-control mb-2 text-center"
                    required="1"
                    placeholder="BHK"
                    type="number"
                  />
                </div>
                <div class="col-md-6 form-group mb-4 text-center">
                  <label
                    class="mb-2"
                    style="
                      font-family: Arial, Helvetica, sans-serif;
                      font-weight: 600;
                    "
                    ><b>Price per sqft :</b></label
                  >
                  <input
                    name="pricesqft"
                    id="pricesqft"
                    class="selectpicker form-control mb-2 text-center"
                    required="1"
                    placeholder="Price per sqft"
                    type="number"
                  />
                </div>
                <div class="col-md-12 form-group mb-4">
                  <button
                    class="btn btn-primary form-control mt-4"
                    onclick="send_data()"
                  >
                    Predict Price
                  </button>
                </div>
              </div>
            </form>
            <br />
            <div class="col-md-12 mb-4" style="text-align: center">
              <h3
                style="
                  font-family: Nunito, sans-serif;
                  font-weight: 600;
                  color: #112a46;
                "
              >
                <span id="prediction"></span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function form_handler(event) {
        event.preventDefault(); // Don't submit the form normally
      }
      function send_data() {
        document.querySelector("form").addEventListener("submit", form_handler);

        const fd = new FormData(document.querySelector("form"));
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/predict", true);

        document.getElementById("prediction").innerHTML =
          "Wait Predicting Price!...";
        xhr.onreadystatechange = function () {
          if (xhr.readyState == XMLHttpRequest.DONE) {
            if (xhr.responseText.includes("Error")) {
              // Display error message
              document.getElementById("prediction").innerHTML =
                "Error: You have entered wrong value, Please correct them";
            } else {
              document.getElementById("prediction").innerHTML =
                "Prediction: ₹" + xhr.responseText + " Housing prices";
            }
          }
        };
        xhr.onload = function () {};
        xhr.send(fd);
      }
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
